<a href="https://colab.research.google.com/github/moustafa-7/Spam-Classifier/blob/master/Spam_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
!wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-data-sets/483/982/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1576459137&Signature=ibSkipi%2Fl2HKMywhCB7nAzvBR6tyGRMxT0vXfeFmuL8hv%2F17TDWdo2IdwFRzGJAbB4YhSW2aj%2Bn%2B7JkWDLrPJPfmsgPFXDkFf0ZtohcUi5OOKI%2FwkqZmJCi7ggAAy6a1yOrwSAlM3KmHtLpwCHxISFuBpHjjTyJyGff4O2lRZcrjFHbWUlYo%2F5zeEp0d%2B2XUK10mBMcl73ahQuiqGBYtZjFq%2BanhX%2FIyA4fKo230hnPrroX%2Fqy4MOznwosRYziNCICZIoTSItXEl3wcPyqIetVQIGCMPw5mO5mmHoLng4UzFuVGbfnmld%2B3oCPUisqmqf1q6vNT1ySzgDGqqzw99Jg%3D%3D&response-content-disposition=attachment%3B+filename%3Dsms-spam-collection-dataset.zip" -O "sms-spam-collection-dataset.zip" -c

In [0]:
!unzip /content/sms-spam-collection-dataset.zip

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [0]:
msgs = pd.read_csv('spam.csv', encoding = 'latin-1')

In [8]:
msgs

        v1  ... Unnamed: 4
0      ham  ...        NaN
1      ham  ...        NaN
2     spam  ...        NaN
3      ham  ...        NaN
4      ham  ...        NaN
...    ...  ...        ...
5567  spam  ...        NaN
5568   ham  ...        NaN
5569   ham  ...        NaN
5570   ham  ...        NaN
5571   ham  ...        NaN

[5572 rows x 5 columns]

In [12]:
msgs.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"], axis=1)

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
len(msgs)

5572

In [21]:
import nltk
nltk.download('punkt')  #punctuation
nltk.download('stopwords') # the a an and or

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
import string


stemmer = PorterStemmer()
refined_msgs = []

for i in range(len(msgs)):
  msg = msgs['v2'][i].lower()
  msg = word_tokenize(msg)
  msg = [stemmer.stem(word) for word in msg if ((word not in set(stopwords.words('english'))) and (word not in string.punctuation))]
  msg = ' '.join(msg)
  refined_msgs.append(msg)

In [27]:
refined_msgs[0]

'go jurong point crazy.. avail bugi n great world la e buffet ... cine got amor wat ...'

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
countvectorizer = CountVectorizer()
x = countvectorizer.fit_transform(refined_msgs).toarray()
y = msgs['v1'].values

In [0]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [34]:
from sklearn.naive_bayes import MultinomialNB
multinomialnb = MultinomialNB()
multinomialnb.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
y_pred = multinomialnb.predict(x_test)

In [36]:
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [37]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.99      0.99      0.99       957
        spam       0.93      0.94      0.93       158

    accuracy                           0.98      1115
   macro avg       0.96      0.96      0.96      1115
weighted avg       0.98      0.98      0.98      1115

In [39]:
confusion_matrix(y_test,y_pred)

array([[945,  12],
       [ 10, 148]])

In [40]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9802690582959641